{% extends 'base.html' %}
{% load static %}

{% block title %}
ВЫСТАВКИ
{% endblock %}

{% block search %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Добавляем атрибут value, который будет хранить введённое значение -->
    <input type="text" placeholder="Поиск..." name="text" id="search-id" value="{{ search_query|default:'' }}">
    <button class="right-link">Поиск</button>
    <a href="/choose/" class="right-link">Ваши выставки {{ data.len }}</a>
</form>
{% endblock %}

{% block card %}
<div class="space" >
    <div class="card-container" >
        {% for card in data.cards %}
            {% include 'card.html' with element=card %}
        {% endfor %}
    </div>
</div>
{% endblock %}
