{% extends 'base.html' %}
{% load static %}

{% block title %}
ВЫБОР ТЕМЫ
{% endblock %}

{% block search %}
<form action="" method="get">
    {% csrf_token %}
    <input type="text" placeholder="Поиск..." name="search-theme" id="search-id" value="{{ search_query|default:'' }}">
    <button class="right-link">Поиск</button>
    <a href="{% url 'cart_by_id' id=data.id %}" class="right-link">Корзина: {{ data.len }}</a>
</form>
{% endblock %}

{% block card %}
<div class="space" >
    <div class="card-container" >
        {% for card in data.cards %}
            {% include 'topic.html' with element=card %}
        {% endfor %}
    </div>
</div>
{% endblock %}
