{% extends 'base.html' %}

{% load static %}

{% block title %}
ВАША ВЫСТАВКА
{% endblock %}



{% block appl %}
<link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}"/>


<div class="appl">
    <h2>Выставка №1</h2>
    <label for="title">Название: <input type="text" id="title" placeholder="Введите название"></label>
    <label for="date">Дата: <input type="date" id="date"></label>
    <label for="time">Время: <input type="time" id="time"></label>
    <label for="auditorium">Аудитория: <input type="text" id="auditorium" placeholder="Введите аудиторию"></label>
</div>

<div class="save-button-container"></div>
    <button type="submit" class="save-button">Сохранить</button>
</div>
{% endblock %}


{% block card %}
<div class="space" > 
    <div class="cart-card-container" >
        {% for cart_card in data.show_topic %}
            {% include 'show_topic.html' with element=cart_card %}
        {% endfor %}
    </div>
</div>
{% endblock %}

